<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <script src="{{static_url('jquery/jquery-1.9.1.min.js')}}"></script>
    <script src="{{static_url('bootstrap/js/bootstrap.min.js')}}"></script>
    <script src="{{static_url('scripts/test.js')}}"></script>
    <script src="{{static_url('scripts/radio.js')}}"></script>

    <link href="{{static_url('bootstrap/css/bootstrap.css')}}" rel="stylesheet" />
    <link href="{{static_url('css/font-awesome.css')}}" rel="stylesheet" />
    <link href="{{static_url('css/test.css')}}" rel="stylesheet"> 
    <link href="{{static_url('css/radio.css')}}" rel="stylesheet">

</head>
<body>
    <div class="top">
        <img src="{{static_url('images/top.PNG')}}"> 
    </div>
    <div class="btn">
        <button class="add" id="friend_btn" style="display:inline-block">
            <b>查 询 药 材</b>
        </button>
        <button class="add" id="group_btn" style="display:inline-block">
            <b>知 识 问 答</b>
        </button>
    </div>
        <nav class="navbar-default navbar-side col-sm-2" >
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">             
                    <li>
                        <a data-toggle="collapse" href="#collapseOne"><i class="fa fa-dashboard"></i> 药 物 范 围<span class="fa arrow"></span></a>
                        <div id="collapseOne" class="collapse in">
                            <form>
                                <li><input type="radio" name="radio" data-labelauty="教 材 中 常 见 药 物"></li>
                                <li><input type="radio" name="radio" data-labelauty="药 方 中 常 见 药 物"></li>
                                <li><input type="radio" name="radio" data-labelauty="全 部"></li>
                            </form>
                        </div>
                    </li>
                    <li>
                        <a data-toggle="collapse" href="#collapseTwo"><i class="fa fa-sitemap"></i> 题 目 类 型<span class="fa arrow"></span></a>
                        <div id="collapseTwo" class="collapse in">
                            <form>
                                <li><input type="radio" name="radio" data-labelauty="文 字 → 图 片"></li>
                                <li><input type="radio" name="radio" data-labelauty="图 片 → 文 字"></li>
                                <li><input type="radio" name="radio" data-labelauty="不 限"></li>
                            </form>

                        </div>
                    </li>
                    <li>
                        <a data-toggle="collapse" href="#collapseThree"><i class="fa fa-edit"></i>每 页 题 目 数 量<span class="fa arrow"></span></a>
                        <div id="collapseThree" class="collapse in">
                            <form>
                                <li><input type="radio" name="radio" data-labelauty="1"></li>
                                <li><input type="radio" name="radio" data-labelauty="5"></li>
                                <li><input type="radio" name="radio" data-labelauty="10"></li>
                            </form>      
                        </div>
                    </li>
            

                    <button class="set">
                        <b>完 成 设 置，生 成 题 目</b>
                    </button>       
                </ul>
            </div>
        </nav>

        <div id="page-wrapper" class="col-sm-10">
            <div id="page-inner">
                <div id="friend" class="content" style="display:none">    
                </div>
                <div id="group" class="content" style="display:inline-block">    
                    <div class="training">
                        {% if mode == 1 %}
                        <div class="question">
                            <p id="q"><b>1. 请 问 以 下 哪 一 张 图 是 当 归 ？请 选 择 ：</b></p>
                        </div>
                        <div class="img">
                            <img class="nimg" id="1" src="{{static_url('images/1.jpg')}}"/>
                            <img class="nimg" id="2" src="{{static_url('images/2.jpg')}}"/>
                            <p></p>
                            <img class="nimg" id="3" src="{{static_url('images/3.jpg')}}"/>
                            <img class="nimg" id="4" src="{{static_url('images/4.jpg')}}"/>
                            <p></p>
                            <button class="next" id="next"><span>next>></span></button>
                        </div>
                        {% end %}
                        {% if mode == 2 %}
                        <div class="question">
                            <p id="q"><b>1. 请 选 出 图 中 药 材 的 名 字：</b></p>
                            <img id="1" src="{{static_url('images/1.jpg')}}"/>
                        </div>
                        <div class="text">
                            <div class="ctext" id="1">A. 图 中 的 药 材 名 为 当 归</div>
                            <div class="ctext" id="2">B. 图 中 的 药 材 名 为 薄 荷</div>
                            <div class="ctext" id="3">C. 图 中 的 药 材 名 为 辛 夷</div>
                            <div class="ctext" id="4">D. 图 中 的 药 材 名 为 马 齿 苋</div>

                            <button class="next" id="next"><span>next>></span></button>         
                        </div>
                        {% end %}
                        <div style="clear:both"></div>


                    </div>
                </div> 

                 
            </div>
        </div>

  
</body>
</html>
