<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0,  maximum-scale=1.0, user-scalable=no"> 
        <title>TEST</title> 
        <script src="{{static_url('jquery/jquery-1.9.1.min.js')}}" type="text/javascript"></script>
        <script src="{{static_url('bootstrap/js/bootstrap.min.js')}}"></script>
        <script src="{{static_url('scripts/test.js')}}"></script>
        <link href="{{static_url('css/test.css')}}" rel="stylesheet"> 
        <link href="{{static_url('bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">

    </head>

    <body>
        <div class="top"> 
        </div>
        <div> 
            <div class="btn">
                <button class="add" id="friend_btn" style="display:inline-block">
                    <b>查 询 药 材</b>
                </button>
                <button class="add" id="group_btn" style="display:inline-block">
                    <b>知 识 问 答</b>
                </button>
            </div>

            <div id="friend" class="content" style="display:inline-block">    
            </div>
            <div id="group" class="content" style="display:none">    
                <div class="training">
                    {% if mode == 1 %}
                    <div class="question">
                        <p id="q"><b>1. 请 问 以 下 哪 一 张 图 是 当 归 ？请 选 择 ：</b></p>
                    </div>
                    <div class="img">
                        <img id="1" src="{{static_url('images/1.jpg')}}"/>
                        <img id="2" src="{{static_url('images/2.jpg')}}"/>
                        <p></p>
                        <img id="3" src="{{static_url('images/3.jpg')}}"/>
                        <img id="4" src="{{static_url('images/4.jpg')}}"/>
                        <p></p>
                        <button class="next" id="next"><span>next>></span></button>
                    </div>
                    {% end %}
                    {% if mode == 2 %}
                    <div class="question">
                        <p id="q"><b>1. 请 选 出 图 中 药 材 的 名 字：</b></p>
                        <img id="1" src="{{static_url('images/1.jpg')}}"/>
                    </div>
                    <div class="text">
                        <div class="ctext" id="1">A. 图 中 的 药 材 名 为 当 归</div>
                        <div class="ctext" id="2">B. 图 中 的 药 材 名 为 薄 荷</div>
                        <div class="ctext" id="3">C. 图 中 的 药 材 名 为 辛 夷</div>
                        <div class="ctext" id="4">D. 图 中 的 药 材 名 为 马 齿 苋</div>

                        <button class="next" id="next"><span>next>></span></button>         
                    </div>
                    {% end %}
                    <div style="clear:both"></div>
                </div>
            </div>
            
        </div>

    </body>
</html>
